<div class="header clearfix">

	<!-- logo and search -->
	<div class="col-md-12 head-wrapper clearfix">
		<div class="container">
			<div class="col-md-6">
				{{ img('logo.png', array('title' => 'OnlineUniApplication')) }}
			</div>
			<div class="col-md-6 search-wrapper">
				<div class="pull-right">
				<form role="form" class="form-inline search-form">
					<select class="form-control">
					  	<option>University</option>
					  	<option>Course</option>
					  	<option>Country</option>						  	
					</select>
					<input type="text" placeholder="Keyword" class="form-control" />
					<button type="submit" class="btn btn-primary">
            			<i class="fa fa-search"></i>
        			</button>
				</form>
			</div>
			</div>
		</div>
	</div>
	
	<!-- navbar and login -->
	<div class="col-md-12">
		<div class="container">
			<nav class="navbar head-nav">
	  			<ul class="nav navbar-nav head-nav">
					<li class="active"><a href="{{ url() }}">Home</a></li>
					<li><a href="{{ url('university') }}">Universities</a></li>
					<li><a href="{{ url('university/course') }}">Courses</a></li>
					<li><a href="{{ url('help') }}">Help</a></li>
					<li><a href="{{ url('about') }}">About</a></li>
					<li><a href="{{ url('contact') }}">Contact</a></li>
				</ul>
				
				<div class="navbar-right nav-login">
					{{ widgetArea:header }}
				</div>
			</nav>
		</div>
	</div>

</div>